@import "tailwindcss";

@theme {
  --color-primary: #c2410c;
  --color-primary-dark: #9a3412;
  --color-accent-red: #dc2626;
  --color-accent-yellow: #d97706;
  --color-bg-app: #fdfbf7;
  --color-surface-app: #ffffff;
  --color-surface-app-light: #f9f7f2;
  --color-border-app: #ede9e1;
  --color-text-main: #262421;
  --color-text-muted: #827d75;
}

body {
  @apply bg-bg-app text-text-main font-sans antialiased transition-colors duration-500;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-bg-app;
}

::-webkit-scrollbar-thumb {
  @apply bg-border-app rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-text-muted/30;
}
